<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0"
	id="com.danndann.playground3" version="1.0.0">
	<name>DannDann</name>
	<description>DannDann</description>
	<author href="http://danndann.github.com" email="DannDann@github.com">DannDann
	</author>
	<access origin="*" />
	<feature name="http://api.phonegap.com/1.0/device" />
	<!-- <feature name="http://api.phonegap.com/1.0/battery" /> -->
	<feature name="http://api.phonegap.com/1.0/camera" />
	<!-- <feature name="http://api.phonegap.com/1.0/contacts" /> -->
	<feature name="http://api.phonegap.com/1.0/file" />
	<!-- <feature name="http://api.phonegap.com/1.0/geolocation" /> -->
	<feature name="http://api.phonegap.com/1.0/media" />
	<feature name="http://api.phonegap.com/1.0/network" />
	<!-- <feature name="http://api.phonegap.com/1.0/notification" /> -->
	<preference name="phonegap-version" value="2.9.0" />
	<!-- <preference name="orientation" value="portrait" /> -->
	<preference name="target-device" value="universal" />
	<preference name="fullscreen" value="false" />
</widget>